.package-filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    font-size: 16px;
    cursor: pointer;
  }
  
  .filter-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .filter-dropdown.show {
    display: block;
  }
  
  .filter-datepicker {
    padding: 20px;
  }
  
  .filter-apply-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    cursor: pointer;
  }
  
  .package-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .package-card {
    flex-basis: 30%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .package-card img {
    max-width: 100%;
    height: auto;
  }
  
  .package-card h3 {
    margin-top: 10px;
  }
  